<h1>ビンゴゲーム</h1>
<p>
  <%= form_tag({action: "create"}, method: "post") do %>
    <%= submit_tag("新しいゲームを始める") %>
  <% end %>
</p>
<h2>開催中</h2>
<ul>
  <% @games.each do |game| %>
    <li>
      <a href="/games/<%= game.id %>">
        <%= game.created_at %>
      </a>
    </li>
  <% end %>
</ul>
