<h1>ビンゴゲーム</h1>
<p>
  <%= form_tag({action: "create"}, method: "post") do %>
    <%= submit_tag("新しいゲームを始める") %>
  <% end %>
</p>
<h2>開催中</h2>
<ul>
  <% @games.each do |game| %>
    <li>
      <%= link_to(game.created_at, game_path(id: game.id)) %>
    </li>
  <% end %>
</ul>
